textarea { }
input { }
button { }

/* Question Components */
.upvote { }
.delete { }

/* Typography */
h1 { }
p { }
small { }

/* Admin Elements */
.admin-controls { }


html,
body {
   display: flex;
   width: 100vw;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
}

main {
   width: fit-content;
   block-size: fit-content;
   min-width: 700px;
}

.qons-title {
   font-family: "Berkeley Mono", monospace;
   font-size: 2rem;
   text-align: left;
   font-weight: 100;
   padding: 1rem;
   margin-bottom: 1rem;
   margin-top: 0;
   marign-right: 0;
   background-color: #000;
   color: white;
   width: fit-content;
   box-shadow: var(--shadow);
}

form.qons-code-form {
   width: 100%;
}

input.room-code-input {
   width: 80%;
   font-size: 1.5em;
   text-align: center;
   font-family: "Berkeley Mono", monospace;
   font-weight: 100;
}

div.qons-buttons {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   width: 100%;
}

div.qons-buttons button {
   width: 40%;
   /*padding: 1.5em 2em;
   font-size: 1.3em;*/
}

div.qons-input-container {
   width: 100%;
   display: flex;
   align-content: center;
   justify-content: center;
}

.upvote.active {
   color: white;
   border-color: white;
   background-color: forestgreen;
}

.q-author {
   color: white;
   background-color: black;
   font-family: "Berkeley Mono", monospace;
   padding: 0.3rem;
   margin-right: 0.5rem;
}

.q-title {
   font-family: "Berkeley Mono", monospace;
}

.vote-count {
   font-family: "Berkeley Mono", monospace;
   font-weight: 100;
   padding: 0.3rem;
   border: solid 1px black;
}

.question {
   margin-bottom: 1rem;
   background-color: #fffffa;
}

section.main-qons {
   width: min(100% - 2rem, 70ch);
}

.invis-container {
   width: min(100% - 2rem, 70ch);
}

.reset-inline-margin {
   margin-inline: initial !important;
}

footer {
   text-align: center;
   font-weight: 70;
   border-top: dashed 1px black;
   padding-top: 1rem;
   margin-top: 1rem;
}

.desc p {
   max-width: 700px;
}

.container {
   margin-inline: initial !important;
}

.question-controls button {
   padding: 0;
   width: 1.5rem;
   height: 1.5rem;
}
